.container {
  width: 1000px;
  margin: 0 auto;
}

.box {
  height: 150px;
}


header {
  background: red;
}

main{
    float: left;
    width: 40%;
    background-color: yellow;
}

aside{
    float: right;
    width: 30%;
    background: green;
}

footer {
  background: blue;
  
}

.clear {
  clear:both ;
}


